body {
   margin: 0;
   padding: 0;
   border: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: none;
}

/*.mini-grid-headerCell-inner {
   line-height: 34px !important;
}*/

.mini-toolbar {
   border: none !important;
   background: #fff !important
}

.mini-grid-row .mini-grid-cell,
.mini-grid-row .mini-grid-headerCell,
.mini-grid-row .mini-grid-filterCell,
.mini-grid-summaryCell {
   padding-top: 3px !important;
   padding-bottom: 3px !important;
}

.mini-panel-header {
   border-bottom: #f2f2f2 !important;
}

.mini-panel-header-inner {
   background: #f2f2f2 !important;
   border-bottom: none !important;
}
/*
   .mini-panel-header-inner .mini-panel-title{
     display:block !important;
     width:100% !important;
     text-align:center !important
 }
*/

label {
   font-weight: normal !important;
}

/* GDH 2016.12.15---------------*/
.list-action-cannot{
  text-decoration:none;color:lightgrey;
}
.list-action-can{
  cursor:pointer;text-decoration:none;
}
/* ---------------GDH 2016.12.15*/
